@model BcxbTeamBldr.DataLayer.CUserTeam

    <h2>Add new team for @Model.UserName.Split('@')[0]</h2>
    @using (Html.BeginForm()) {
        <div> 
            New team name: @Html.TextBoxFor(t => t.TeamName)
            <p/>Team uses DH at home: @Html.CheckBoxFor(t => t.UsesDh)
            <p/>@Html.HiddenFor(t => t.UserName)
            <p style="color:red; font-weight:bold"/>@ViewBag.Msg

        </div>
        <input type="submit" value="Add the new team" />
    }
