@model BcxbTeamBldr.Models.UserPlayerListVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditTeam</title>
</head>
<body>
  @{
      string teamName = @Model.UserTeam.TeamName;
      string userName = @Model.UserTeam.UserName;
   }

      <h2>Roster for @teamName</h2>

      <em>You must enter default starting lineups for both DH and no-DH.
      <br/>These lineups can always be changed at game-time in Play-by-Play Baseball.</em>
      <p/>

      <div>

         @if (Model.Players.Count == 0) {
            <div style="color:red;">
               @teamName  <text>doesn't have any players yet.</text>
            </div>
         }
         else {
      <table border="0" cellpadding="0" style="border:0px solid black; border-collapse:collapse;">
         <tr style="padding-bottom:30px">
            <th width="130" align="left">Player Name</th>
            <th width="40" align="left"></th>
            <th width="90" align="left">MLB Team</th>
            <th width="70" align="center">Year</th>
            <th width="70" align="center">Lineup<br />No DH</th>
            <th width="70" align="center">Position<br />No DH</th>
            <th width="70" align="center">Lineup<br />DH</th>
            <th width="70" align="center">Position<br />DH</th>
            <th width="70"></th>
         </tr>
         @for (var i = 0; i < Model.Players.Count(); i++) {
            <tr>
               <td>@Model.Players[i].PlayerName </td>
               <td>@Model.Players[i].PlayerType </td>
               <td>@Model.Players[i].MlbTeam</td>
               <td align="center">@Model.Players[i].Year</td>
               <td align="center">@Model.SlotToStr[Model.Players[i].Slot_NoDH] </td>
               <td align="center">@Model.PosnToStr[Model.Players[i].Posn_NoDH] </td>
               <td align="center">@Model.SlotToStr[Model.Players[i].Slot_DH] </td>
               <td align="center">@Model.PosnToStr[Model.Players[i].Posn_DH] </td>

               <td>
                  @Html.ActionLink("Remove", "RemovePlayerFromTeam",
                      new { user = userName, team = teamName, id = Model.Players[i].PlayerId })
               </td>
            </tr>
         }
      </table>
         }

      <div>
         <p />
         <br />@Html.ActionLink("Add players", "SearchMulti", new { user = userName, team = teamName })
         <p />@Html.ActionLink("Edit Lineups", "EditLineup", new { user = userName, team = teamName })
         <p />@Html.ActionLink("Save Changes", "SaveLineup", new { user = userName, team = teamName }) &nbsp;&nbsp;
              @Html.ActionLink("Cancel", "CancelLineup", new { user = userName, team = teamName })

      </div>

      </div>

   </body>

</html>
